Import Data

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\minhq\Downloads\DATA ANALYSIS\Full Datasets for Projects\Amazon Sale Report Project\data\cleaned_data.csv")

In [6]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship_city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,110791,406-5149188-9232359,6/13/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3376,JNE3376-KR-XL,Kurta,...,1,INR,432.0,Bengaluru,Karnataka,560066.0,IN,None,False,Not Specified
1,61836,405-2996475-6588332,5/21/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3376,JNE3376-KR-XL,Kurta,...,1,INR,432.0,Bengaluru,Karnataka,560043.0,IN,None,False,Not Specified
2,117150,408-1266602-2622706,6/8/2022,Shipped,Amazon,Amazon.in,Expedited,J0353,J0353-KR-XL,Kurta,...,1,INR,635.0,Bengaluru,Karnataka,560094.0,IN,None,False,Not Specified
3,117145,403-5456957-0341951,6/8/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3368,JNE3368-KR-XL,Kurta,...,1,INR,471.0,Bengaluru,Karnataka,560059.0,IN,None,False,Not Specified
4,68777,403-3769681-0810727,5/15/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3487,JNE3487-KR-XL,Kurta,...,1,INR,345.0,Bengaluru,Karnataka,560097.0,IN,None,False,Not Specified

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74538 entries, 0 to 74537
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               74538 non-null  int64
 1   Order ID            74538 non-null  object
 2   Date                74538 non-null  object
 3   Status              74538 non-null  object
 4   Fulfilment          74538 non-null  object
 5   Sales Channel       74538 non-null  object
 6   ship-service-level  74538 non-null  object
 7   Style               74538 non-null  object
 8   SKU                 74538 non-null  object
 9   Category            74538 non-null  object
 10  Size                74538 non-null  object
 11  ASIN                74538 non-null  object
 12  Courier Status      70766 non-null  object
 13  Qty                 74538 non-null  int64
 14  currency            69979 non-null  object
 15  Amount              69979 non-null  float64
 16  ship_city           74536 non-null  object
 17  ship-state          74538 non-null  object
 18  ship-postal-code    74521 non-null  float64
 19  ship-country        74521 non-null  object
 20  promotion-ids       74538 non-null  object
 21  B2B                 74538 non-null  bool
 22  fulfilled-by        74538 non-null  object
dtypes: bool(1), float64(2), int64(2), object(18)
memory usage: 12.6+ MB